/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Arizonia);
/* line 12, ../../app/assets/stylesheets/mystyles.css.scss */
body {
  /*margin-top:35px;*/
  background-color: #2c2b2d;
}

/* line 17, ../../app/assets/stylesheets/mystyles.css.scss */
.container {
  max-width: 1150px;
}

@media screen and (min-width: 768px) {
  /* line 24, ../../app/assets/stylesheets/mystyles.css.scss */
  .navbar-brand {
    float: left;
    margin-right: 5px;
    margin-left: -15px;
    font-family: 'Arizonia', cursive;
    font-size: 24px;
  }

  /* line 31, ../../app/assets/stylesheets/mystyles.css.scss */
  .navbar-nav {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* line 36, ../../app/assets/stylesheets/mystyles.css.scss */
  .navbar-nav > li {
    float: left;
  }

  /* line 39, ../../app/assets/stylesheets/mystyles.css.scss */
  .navbar-nav > li > a {
    border-radius: 0;
  }

  /* line 42, ../../app/assets/stylesheets/mystyles.css.scss */
  .navbar-nav.pull-right {
    float: right;
    width: auto;
  }

  /* line 46, ../../app/assets/stylesheets/mystyles.css.scss */
  .navbar-toggle {
    position: relative;
    top: auto;
    left: auto;
    display: none;
  }

  /* line 52, ../../app/assets/stylesheets/mystyles.css.scss */
  .nav-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}
@media (max-width: 991px) {
  /* line 61, ../../app/assets/stylesheets/mystyles.css.scss */
  .navbar-header {
    float: none;
  }

  /* line 63, ../../app/assets/stylesheets/mystyles.css.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 66, ../../app/assets/stylesheets/mystyles.css.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 68, ../../app/assets/stylesheets/mystyles.css.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
    margin-top: 0px;
  }
}
/*************************************
**************************************
**************************************

BEGIN HEADER STYLES

**************************************
**************************************
**************************************/
/* line 83, ../../app/assets/stylesheets/mystyles.css.scss */
.logobar {
  padding: 10px 0;
}

/*************************************
**************************************
**************************************

END HEADER STYLES

**************************************
**************************************
**************************************/
/*************************************
**************************************
**************************************

BEGIN NAV STYLES

**************************************
**************************************
**************************************/
/* line 112, ../../app/assets/stylesheets/mystyles.css.scss */
.navbar {
  margin-bottom: 0;
}

/* line 116, ../../app/assets/stylesheets/mystyles.css.scss */
.navcontainer {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 121, ../../app/assets/stylesheets/mystyles.css.scss */
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* line 128, ../../app/assets/stylesheets/mystyles.css.scss */
.navbar-default .navbar-nav > li > a {
  color: #ebebeb;
  font-size: 13px;
}

/*************************************
**************************************
**************************************

END NAV STYLES

**************************************
**************************************
**************************************/
/*************************************
**************************************
**************************************

BEGIN CONTENT STYLES

**************************************
**************************************
**************************************/
/* line 158, ../../app/assets/stylesheets/mystyles.css.scss */
.fancy-name {
  font-family: 'Lora', serif;
}

/* line 162, ../../app/assets/stylesheets/mystyles.css.scss */
.small-padding {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 167, ../../app/assets/stylesheets/mystyles.css.scss */
.content-container {
  padding: 15px;
  background-color: white;
}

/* line 172, ../../app/assets/stylesheets/mystyles.css.scss */
.promo-container {
  padding: 20px 15px;
  background: url("https://s3.amazonaws.com/sop-allen/img/bg-promo.jpg") no-repeat #a371c7;
  color: #f1f1f1;
}

/* line 179, ../../app/assets/stylesheets/mystyles.css.scss */
.promo-container a {
  color: #f1f1f1;
  text-decoration: underline;
}

/* line 184, ../../app/assets/stylesheets/mystyles.css.scss */
.jumbotron {
  margin-bottom: 0;
  min-height: 360px;
}

/* line 189, ../../app/assets/stylesheets/mystyles.css.scss */
.jumbotron p {
  /*color: #2B3E50;*/
  text-shadow: 4px 4px 2px #969696;
  color: #485563;
  font-size: 26px;
}

/* line 195, ../../app/assets/stylesheets/mystyles.css.scss */
.panel-body {
  color: white;
}

/* line 199, ../../app/assets/stylesheets/mystyles.css.scss */
.content-container-margin-top {
  margin-top: 40px;
}

/* line 204, ../../app/assets/stylesheets/mystyles.css.scss */
.carousel-icons {
  position: absolute;
  top: 40%;
  z-index: 5;
  display: inline-block;
}

/* line 212, ../../app/assets/stylesheets/mystyles.css.scss */
.list-group-item > a {
  color: white;
  font-size: 17px;
}

/* line 217, ../../app/assets/stylesheets/mystyles.css.scss */
.well table {
  color: #a371c7;
}

/* line 221, ../../app/assets/stylesheets/mystyles.css.scss */
.panel-body a.small {
  color: white;
}

/* line 228, ../../app/assets/stylesheets/mystyles.css.scss */
#prayer_request_submit_action.btn:hover {
  color: #a371c7;
}

/* line 233, ../../app/assets/stylesheets/mystyles.css.scss */
.img-float-right {
  float: right;
  margin: 0 0 5px 10px;
  border: 1px solid #a371c7;
  padding: 2px;
}

/*************************************
**************************************
**************************************

END CONTENT STYLES

**************************************
**************************************
**************************************/
/*************************************
**************************************
**************************************

BEGIN VIDEO STYLES FOR RESPONSIVE VIDEO

**************************************
**************************************
**************************************/
/* line 265, ../../app/assets/stylesheets/mystyles.css.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 271, ../../app/assets/stylesheets/mystyles.css.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*************************************
**************************************
**************************************

END VIDEO STYLES FOR RESPONSIVE VIDEO

**************************************
**************************************
**************************************/
/*************************************
**************************************
**************************************

BEGIN FOOTER STYLES

**************************************
**************************************
**************************************/
/* line 304, ../../app/assets/stylesheets/mystyles.css.scss */
footer {
  padding: 8px 15px;
  background-color: #64467a;
  color: #f1f1f1;
}

/* line 310, ../../app/assets/stylesheets/mystyles.css.scss */
footer p {
  padding-top: 10px;
}

/* line 314, ../../app/assets/stylesheets/mystyles.css.scss */
footer a {
  /*color: #428BCA;*/
  color: white;
}
/* line 317, ../../app/assets/stylesheets/mystyles.css.scss */
footer a:hover {
  color: white;
}

/* line 322, ../../app/assets/stylesheets/mystyles.css.scss */
footer .nav > li > a:hover {
  background-color: white;
}

/*************************************
**************************************
**************************************

END FOOTER STYLES

**************************************
**************************************
**************************************/
