<% @page_header = "#{@page.title}" %>
<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li class="active"><%= @page.title.truncate(50) %></li>
</ol>

<% if @page.page_image.url %>
    <%= image_tag @page.page_image.url, class: 'img-float-right img-responsive' %>
<% end %>
<%= @page.content.html_safe %>