<% unless @side_announcements.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-bullhorn"></i> <%= link_to 'Announcements', announcements_path %></h3>
  </div>
  <div class="panel-body">
    <% @side_announcements.each do |announcement| %>
        <li class="list-group-item"><%= link_to announcement.title.truncate(100), announcement %>
        <br/><%= announcement.content.truncate(100) %>
        </li>
    <% end %>
  </div>
</div>
<% end %>