<header>
  <div class="content-container">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to image_tag('https://s3.amazonaws.com/sop-allen/img/logo.jpg'), root_path %>
      </div>
      <div class="col-sm-6">
        <div class="pull-right hidden-sm">
        </div>
      </div>
    </div>
  </div>
</header>