<header>
  <div class="content-container">
    <div class="row">
      <div class="col-sm-6">
        <img src="img/logo.jpg" width="73" height="75">
      </div>
      <div class="col-sm-6">
        <div class="pull-right hidden-sm">
        </div>
      </div>
    </div>
  </div>
</header>