<div class="promo-container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <h3><i class="fa fa-file-o"></i> Easy to Install</h3>
      <p>Simply download a CSS file and replace the one in Bootstrap. No messing around with hex values.</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h3><i class="fa fa-calendar"></i> Next Service</h3>
      <p>Bootstrap themes are released under the MIT<br>
        Event Date<br>
        Event Time</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h3><i class="fa fa-clock-o"></i> Service Times</h3>
      <p>Bootstrap themes are released under the MIT License and maintained by the community on <a target="_blank" href="https://github.com/thomaspark/bootswatch">GitHub</a>.</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h3><i class="fa fa-home"></i> Location</h3>
      <p>123 Main Street<br>
        Allen, Texas 75010<br>
        555-555-5555<br>
        <a href="mailto:test@test.com">test@test.com</a></p>
    </div>
  </div>

</div>