<% unless @side_upcoming_events.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-calendar"></i> <%= link_to 'Upcoming Events', events_path %></h3>
  </div>
  <div class="panel-body">
    <% @side_upcoming_events.each do |event| %>
        <li class="list-group-item"><%= link_to event.title.truncate(100), event %>
          <br/>
          <%= event.time.to_formatted_s(:default) %> </li>
    <% end %>
  </div>
</div>
<% end %>